body {
  background-image: url(../img/143265.webp);
  background-size: cover;
  height: 700px;
}

.cursos-section {
  padding: 40px 20px;
  text-align: center;
}

.titulo {
  font-size: 32px;
  margin-bottom: 30px;
  color: white;
}


.titulo {
  font-size: 50px;
  color: white;
  margin-top: 10%;
  margin-bottom: 20px;
} 

.cursos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.curso-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  transition: transform 0.2s;
  overflow: hidden;
  max-width: 100%;
}

.curso-card:hover {
  transform: translateY(-5px);
}

.curso-card h3 {
  color: #8e44ad ;
  margin-bottom: 10px;
}

.curso-card p {
  font-size: 14px;
  color: #000000;
  margin-bottom: 20px;
}

.curso-card button {
  padding: 10px 20px;
  background-color: #8e44ad ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.curso-card button:hover {
  background-color: #9b59b6;
}

.curso-card img {
  width: 100%;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center top;
  border-radius: 10px;
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
}

.btn-crear-curso {
  margin: 0 auto 30px;
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #8e44ad ;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-crear-curso:hover {
  background-color: #9b59b6;
}

a {
  text-decoration: none;
}

#Guido {
  width: 90%;
  height: auto;
  border-radius: 10px;
}

.btn-cerrar-sesion {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #8e44ad ;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#form-curso {
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fadeIn 0.3s ease-in-out;
}

#form-curso input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#form-curso button[type="submit"] {
  background-color: #8e44ad ;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#form-curso button[type="submit"]:hover {
  background-color: #9b59b6;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}













