
body {
  background-image: url(../img/143265.webp) ;
  background-size: cover;
  
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 80px);
  padding: 0 60px;
  
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.right .login-box {
  background: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #8e44ad;
}

.login-box input {
  display: block;
  align-items: center;
  width: 90%;
  height: 30px;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.login-btn {
  align-items: center;
  width: 50%;
  padding: 10px;
  background: linear-gradient(to right, #8e44ad, #6c5ce7); /* degradado elegante */
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* sombra sutil */
}

/* Efecto al pasar el mouse */
.login-btn:hover {
  background: linear-gradient(to right, #6c5ce7, #8e44ad); /* inversión de colores */
  transform: scale(1.05); /* ligero zoom */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); /* sombra más pronunciada */
}


.signup-text,
.social-text {
  margin: 15px 0 5px;
}

.signup-text a {
  color: #8e44ad;
  text-decoration: none;
}

p{
  color: white;
}

/* Teléfonos */
@media screen and (max-width: 600px) {
  main {
    flex-direction: column;
    padding: 20px;
    height: auto;
  }

  .right {
    width: 100%;
  }

  .right .login-box {
    width: 90%;
    padding: 20px;
  }

  .login-box input,
  .login-btn {
    width: 100%;
  }
}

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  main {
    flex-direction: column;
    padding: 40px;
    height: auto;
  }

  .right .login-box {
    width: 70%;
  }

  .login-box input {
    width: 95%;
  }

  .login-btn {
    width: 80%;
  }
}

/* Laptops y PCs */
@media screen and (min-width: 1025px) {
  .right .login-box {
    width: 300px;
  }

  .login-box input {
    width: 90%;
  }

  .login-btn {
    width: 50%;
  }
}
